fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
pydantic==2.6.1
pydantic-settings==2.1.0
azure-storage-blob==12.19.0
openai==1.56.0
pdfplumber==0.10.4
shapely==2.0.3
azure-ai-formrecognizer==3.3.3
